/* FOR DEBUGGING */


/* * {
    border: 2px solid red;
} */


/* normalizar */

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}


/* márgenes */

nav,
.hero,
.destacados,
.categorias,
.about,
.faqs,
footer {
    margin: 0;
}
h1 {
    display: block;
}


/* wrapper */
.wrapper {
    margin: 0 20px;
    height: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

/* listas */
nav ul>li,
section ul>li {
    list-style: none;

}


/* menú superior */


nav#barra-menu ul>li {
    display: inline-block;
    padding-right: 20px;
}

nav#barra-menu>ul>li:nth-last-child(2),
nav#barra-menu>ul>li:last-child
{
    float: right;
}

/* mensaje error/info */
div.mensaje-info,
div.mensaje-error,
div.mensaje-exito,
div.mensaje-generico {
    display: inline-block;
    padding: 5px 40px;
    margin: 20px;
}
div.mensaje-info {
    background-color: #ffcf48;
}
div.mensaje-error {
    background-color: #ff9191;
}
div.mensaje-exito {
    background-color: #8dfb6f;
}
div.mensaje-generico {
    background-color: #f1f1f1;
}
/* mensaje que ocupa una página */
div. mensaje-fullscreen {
    width: 50%;
    height: 50%;
}


/* inicio */

div.hero {
    display: block;
    border: 1px solid black;
    text-align: center;
    padding: 5%;
}

section {
    padding: 1%;
    margin: 0 auto;
}


/* tarjeta */

.tarjeta {
    display: inline-block;
    text-decoration: none;
    border: 1px solid black;
    color: black;
}

a.tarjeta.enlace {
    margin: 20px;
    text-align: center;
}

/* tarjeta modelo */




/* tarjeta categoría */
a.tarjeta.categoria {
    height: 30px;
    width: 200px;
    margin: 20px;
    padding: 0.9em 0;
    text-align: center;
    padding: 20px 0;
    text-transform: capitalize;
}

/* pagina modelo */

.container {}

.modelo {
    height: 40%;
    border: 1px solid black;
    /* se podría aplicar a todo el wrapper */
    max-width: 500px;
    margin: 0 auto;
}

model-viewer {
    height: 100%;
    width: 100%;
}


/* footer */

footer {
    clear: both;
    position: relative;
    height: 200px;
    /*margin-top: -200px;*/

    display: block;
    bottom: 0;
    font-style: italic;
    border-top: 1px solid black;
    margin-top: 60px;
    max-width: 100%;
}

/* mensajes */
.mensaje-fullscreen {
    max-width: 500px;
    vertical-align: middle;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #c8c8c8;
    border-radius: 6px;
    background-color: #ffcf48;
}

/* formularios */

form {
    width: 80%;
}

form input.display-none {
    display: none;
}

form input,
form button {
    display: block;
    margin: 10px 0;
    border-radius: 6px;
    padding: .8em 1em;
}
form input[type=submit],
form button {
    background-color: #131313;
    color: whitesmoke;
    border: none;
}
form input[type=submit].btn-eliminar {
    background-color: #ff9191;
    color: black;
}

form input[type=submit]:hover,
form button:hover {
    cursor: pointer;
    background-color: #363636;
}
form input[type=text] {
    background-color: white;
    border: 1px solid #c8c8c8;
    width: 100%;
}
.formulario-centrado {
    max-width: 500px;
    vertical-align: middle;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #c8c8c8;
    border-radius: 6px;

}
.formulario-centrado h1,
.formulario-centrado h3 {
    text-align: center;
}

/* página categorias */
nav.menu-categorias {
    margin: 10px;
    padding: 5% 0;
    display: block;
    float: left;
    max-width: 30vw;
    height: 100vh;
}
nav.menu-categorias a {
    text-transform: capitalize;
}


/* página subida */
.modelo.preview {
    display: inline-block;
    min-width: 200px;
}

form#datos-subida {
    display: inline-block;
    min-width: 200px;
}

#miniatura-preview {
    display: inline-block;
    width: 100px;
}